.classTitle {
  margin: 50px;
  text-align: center;
  color: #14a081;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: normal;
  opacity: 0.7;
}

.listContainer {
  width: 60%;
  margin: 0 auto;
}
.formContainer {
  width: 40%;
  margin: 0 auto 50px;
}
