.classTitle {
  margin: 50px;
  text-align: center;
  color: #14a081;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: normal;
  opacity: 0.7;
}

.mainContainer {
  padding: 5% 10%;
  height: 100%;
  overflow-y: scroll;
}

.rose {
  color: rgb(247, 191, 190);
}

.actionButton {
  cursor: pointer;
}

.sortButton {
  cursor: pointer;
}

.spaceAround {
  margin-right: 20px;
}

.selectLanguage {
  width: 60px !important;
  margin-left: 10px;
}

body {
  height: calc(100vh - 56px);
  background: url('../images/starWarsVertical.jpg') top center / 100%;
}
